@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    -webkit-font-smoothing: antialiased;
}

b, strong {
    font-weight: bold
}

i, em {
    font-style: italic
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255, 255, 255, 0.5);
    text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
    border-radius: 0.2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    background: rgba(255, 255, 255, 1);
    text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

/* enable clicking on elements 'hiding' behind body in 3D */
body {
    pointer-events: none;
}

a, iframe, #impress {
    pointer-events: auto;
}

.step {
    width: 900px;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */
.slide {
    display: block;
    width: 1024px;
    height: 768px;
    padding: 40px 60px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .3);
    font-family: 'Open Sans', Arial, sans-serif;
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.section h1 {
    text-align: center;
}

.section li {
    padding: 15px 2px;
}

.floatRight {
    float: right;
}

#stack {
    border: 1px solid black;
    font-size: 80%;
    height: 200px;
    margin-top: 50px;
}

.stackComponent {
    border: 1px solid #555;
    width: 155px;
    margin-top: 25px;
    margin: 5px 15px;
    padding: 20px 3px;
    text-align: center;
    color: black;
}

#mysql {
    background-color: #2090DB;
}

#repository {
    background-color: #2090DB;
}

#resource {
    background-color: #2090DB;
}

#client {
    background-color: #DB2020;
}

code {
    color: #036;
    overflow: auto;
    font-family: "Courier New", Courier, mono;
    margin: 0;
    padding: 1em 0 1em 2.8em;
}

.petit {
    font-size: 60%;
    line-height: 60%;
}

.moyen {
    font-size: 75%;
    line-height: 75%;
}

input {
    font-size: 115%;
    text-align: center;
}

.mainLi {
    list-style: disc;
}

.demo-border-radius {
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    border-radius: 10px;
    border-top-left-radius: 0;

    border: 1px solid black;
    background-color: #C43C35;
    color: white;
    padding: 3px;
}

.demo-gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#F00), to(#00F));
    background: -moz-linear-gradient(top, #F00, #00F);
    color: white;
    padding: 10px;
}

img {
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}

.progress {
    overflow: hidden;
    height: 30px;
    margin-bottom: 18px;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f9f9f9', GradientType = 0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.progress .bar {
    width: 0%;
    height: 30px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -ms-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(top, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#149bdf', endColorstr = '#0480be', GradientType = 0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -ms-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progressInformation {
    padding-left: 8px;
    float: left;
    color: white;
}

.logo-wrapper {
    top: 30%;
    position: relative;
}

.logo-img {
    width: 72%;
}

.batman-wrapper {
    position:relative;
}

.footer {
    position: absolute;
    bottom: 10px;
    font-size: 90%;
}

.header {
    position: absolute;
    top: 10px;
    right: 10px;

}

.exemple .col {
    font-size:80%;
    float:left;
    width:430px;
}



.exemple .col1 {

    border-right:1px solid black;
}

.exemple .col2 {
    padding-left:20px;
    border-left:1px solid black;
}
